<!DOCTYPE html>
<html>

<head>
    <title>help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- In order to render the partials we specify > sign-->

    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
    </div>

    {{>footer}}
</body>

</html>